<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>

    <h2>Non connecté</h2>

</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>

<script>
    checkUser()
    .then( apiResponse => {
        if( apiResponse.data ){ window.location = '/connected' }
    })
    .catch( err => console.log(err) )
</script>