<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>

    <%- JSON.stringify(data)  %>
    <%- include('components/form-register') -%>

</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>