<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>

    <h2>Formulaire de connexion</h2>
    <%- include('components/form-login') -%>

</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>