<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <h2>Formulaire d'inscription</h2>
    <%- include('components/form-register') -%>

</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>