<form action="/conversation" method="POST">
    <label for="description">Déscription</label>
    <textarea name="description" required minlength="5"></textarea>

    <button type="submit">Ajouter</button>
</form>