<form action="">
    <label for="email">Email</label>
    <input type="email" name="email" required minlength="5">

    <label for="password">Mot de passe</label>
    <input type="password" name="password" required minlength="5">

    <button type="submit">Connexion</button>
</form>